<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Stella's choice{% endblock %}
{% block content %}

<div>
    <h2>Enter Breed Parameters</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="form-row align-items-center">
        <div class="col-auto my-1">
          <label  for="adaptabilitySelect">Adaptability</label>
          <select name="adaptabilitySelect" class="custom-select mr-sm-2" id="adaptabilitySelect">
            <option value="1">1</option>
            <option value="2">2</option>
            <option selected value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="col-auto my-1">
          <label for="energySelect">Energy</label>
          <select name="energySelect" class="custom-select mr-sm-2" id="energySelect">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option selected value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="col-auto my-1">
          <label for="friendlinessSelect">Overall Friendliness</label>
          <select name="friendlinessSelect" class="custom-select mr-sm-2" id="friendlinessSelect">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option selected value="5">5</option>
          </select>
        </div>
        <div class="col-auto my-1">
          <label  for="health_groomingSelect">Health and Grooming</label>
          <select name="health_groomingSelect" class="custom-select mr-sm-2" id="health_groomingSelect">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option selected value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="col-auto my-1">
          <label for="trainabilitySelect">Trainability</label>
          <select name="trainabilitySelect" class="custom-select mr-sm-2" id="trainabilitySelect">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option selected value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="col-auto my-1">
          <label for="sizeSelect">Size</label>
          <select name="sizeSelect" class="custom-select mr-sm-2" id="sizeSelect">
            <option value="1">1</option>
            <option value="2">2</option>
            <option selected value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
      <div class="col-auto my-1">
        <button type="submit" value="Submit"  class="btn btn-primary">Submit</button>
      </div>
    </form>
</div>
{% endblock %}